
#maven ignore
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionBackip
pom.xml.next
release.proprieties
dependency-reduce-pom.xml
build/Number.proprieties
.mvn/timing.proprieties

# custom ignore
ing-sw-2019-11.iml
.idea
/target