.button{
    -fx-background-weight: bold;
    -fx-background-color: #000000;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-weight: bold;
    -fx-background-color: #000000;
    -fx-background-radius: 20px;
    -fx-text-fill: gold;
}
