.gamebg{
    -fx-background-image: url("../images/background.png");
    -fx-background-size: 100% 100%;
}

.conceptbg2{
    -fx-background-image: url("../images/conceptmatch.png");
    -fx-background-size: 100% 100%;
}

.startbg{
    -fx-background-image: url("../images/adrenalina_cover.jpg");
    -fx-background-size: 100% 100%;
}

.conceptbg{
    -fx-background-image: url("../images/concept_game_weapon_unloaded.png");
    -fx-background-size: 100% 100%;
}

.text-field {
    -fx-background-radius: 20px;
}

.messageStart{
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-background-radius: 20px;
}